html,
body {
  height: 100%;
}

.form-signin {
  max-width: 400px;
  padding: 3rem 1rem;
  border-top: 10px solid var(--bs-info);
  border-radius: 9px;
  border-bottom: 10px solid var(--bs-success);
  box-shadow: var(--bs-box-shadow-lg);
  text-align: center;
}

.form-signin h4{
  color: var(--bs-primary);
}

.form-signin h5{
  color: var(--bs-secondary);
}

.form-signin input {
  margin: 1rem auto;
}
